<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= fish_kind[id].name %>の詳細</title>
  <link rel="stylesheet" href="/public/zukan.css">
  <script src="/public/js/fish_kind.js"></script>
  <script src="/public/js/zukan.js" ></script>
</head>
<body>

  <div class="menu">
    <a href="/"> 戻る </a>
  </div>

  <div class="container">
    <div class="item">
      <div class="title"></div>
      <div id="image-container"></div>
      <p class="description"></p>
      <div class="extra-info">
        <div class="place"></div> 
      </div>
    </div>
  </div>

</body>
</html>

</html>