body{
    background-color: aqua;
  }
  
  div.imgt {
   position:absolute;
   top:-2em;
   left:20em;
   padding: 0px;
  }
  div.url1 {
   position:absolute;
   top:27em;
   left:46.3em;
   padding: 0px;
  }
  div.url2 {
   position:absolute;
   top:48em;
   left:22em;
   padding: 0px;
  }
  
  div.URL1 {
    position:absolute;
     top:5em;
     left:1em;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
  }
  .URL1 img{
      width: 100%;
      transition-duration: 0.5s;
  }
  .URL1:hover img{
      transform: scale(1.2);
      transition-duration: 0.5s;
  }
  
  div.URL2 {
    position:absolute;
     top:17em;
     left:1em;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
    }
  .URL2 img{
    width: 100%;
    transition-duration: 0.5s;
  }
  .URL2:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  div.URL3 {
    position:absolute;
     top:29em;
     left:1em;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
  }
  .URL3 img{
    width: 100%;
    transition-duration: 0.5s;
  }
  .URL3:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  
  
  
  
  p.title {
    font-family: 'Arial Black','ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
    color: #eaf4fc;
    font-size:4em;
    line-height:80%;
    margin: 0px;
  }